<div class="title-card flex__col-4">
	<img src="{{this.image}}" alt="{{this.title}} image" class="title-card__img">
	<div class="title-card__text">
		<h3 class="title-card__text--name">{{this.title}}</h3>
		<hr>
		<p class=" title-card__text--rating">{{this.rating}}</p>
		<p class="title-card__text--synopsis">{{this.synopsis}}</p>
		<input type="submit" class="title-card__text--btn btn-secondary" value="Click to see IMDB rating"
			id="{{this.imdbid}}">
	</div>
</div>