<div class="title-card col-3">
	<div class="title-card__img">
		<img src="{{this.image}}" alt="{{this.title}} image">
	</div>
	<div class="title-card__info">
		<h3 class="title-card__info--title">{{this.title}}</h3>
		<div class="title-card__info--rating">
			<p class="title-card__info--rating-text">{{this.rating}}</p>
			<i class="pe-7s-star title-card__info--icon"></i>
		</div>
		<p class="title-card__info--overview">{{this.synopsis}}</p>
		<button name="imdb" value="{{this.imdbid}}" class="title-card__info--btn">IMDB Rating</button>
	</div>
</div>
