{{>header}}

<body>

	{{>nav}}
	<div class="favorites">
		<div class="flex-center">
			{{#each data}}
			<div class="imdb-card col-2">
				<div class="height">
					<img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.name}} {{this.title}} poster image" class="imdb-card__img">
			
				</div>
				<div class="imdb-card__text">
					<h3 class="imdb-card__text--name">{{this.name}}{{this.title}}</h3>
					<div class="imdb-card__text__rating">
						<p class="imdb-card__text__rating--p">{{this.vote_average}}</p>
						<i class="pe-7s-star imdb-card__text__rating--icon"></i>
					</div>
					<p class="imdb-card__text--synopsis">{{this.overview}}</p>
					<button name="id" value="{{this.imdbid}}" id="favorites-button-delete" class="btn-secondary imdb-card__text--btn">Remove from your
						favorites</button>
				</div>
			</div>
			{{/each}}
			</div>
		</div>
	</div>
	
	{{>footer}}
</body>

</html>