{{>header}}

<body>

	{{>nav}}
	<div class="favorites">
			<div class="flex-between">
				{{#each data}}
				<div class="imdb-card col-2">
					<img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" alt="{{this.name}} image" class="imdb-card__img">
					<div class="imdb-card__text">
						<h3 class="imdb-card__text--name">{{this.name}}</h3>
						<hr>
						<p class="imdb-card__text--rating">{{this.vote_average}}</p>
						<p class="imdb-card__text--synopsis">{{this.overview}}</p>
					</div>
				</div>
				{{/each}}
			</div>
	</div>
	
	{{>footer}}
</body>

</html>