{{>header}}

<body>
	<div class="imdb">
		<div class="search-results">
			<div class="search-results__main">
				<a href="/">
				<img src="/img/logo-small.png" alt="Imflix logo small" class="search-results__main--logo">
				</a>
				<h2 class="search-results__main__heading-secondary">{{text}}</h2>
			</div>

			{{>nav}}
			{{>searchform}}
			<div class="flex-center">
				<div class="imdb-card col-2">
					<img src="https://image.tmdb.org/t/p/w500{{image}}" alt="{{title}} image" class="imdb-card__img">
					<div class="imdb-card__text">
						<h3 class="imdb-card__text--name">{{title}}</h3>
						<hr>
						<p class="imdb-card__text--rating">{{rating}}</p>
						<p class="imdb-card__text--synopsis">{{synopsis}}</p>
						<button name="id" value="{{imdb}}" id="favorites-button">Add to your favorites</button>
					</div>
				</div>
			</div>
			<div class="imdb__success">
				<h3 class="imdb__success--heading-tertiary">Added to your favorites! &#10003;</h3>
			</div>
		</div>
	</div>
</body>
{{>footer}}

</html>